table.table= render 'admin/products/product', product: @product
.well= link_to '新規作成', new_admin_product_article_path(@product), class: 'btn btn-default'

= render 'articles', articles: @articles
= paginate @articles, theme: 'twitter-bootstrap-3'
