table {
  tr.nested-1 {
    td {
      padding-left: 30px;
    }
  }
  tr.nested-2 {
    td {
      padding-left: 60px;
    }
  }
  tr.nested-3 {
    td {
      padding-left: 90px;
    }
  }
  tr.nested-4 {
    td {
      padding-left: 120px;
    }
  }
}
